<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detail.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeClan Library Weekend Homework</title>
</head>
<header>
    <h1>{{books.title}}</h1>
</header>

<body>
    
    <p><b>Title: </b>{{books.title}}</p>
    <p><b>Author: </b>{{books.author}}</p>
    <p><b>Genre: </b>{{books.genre}}</p>
    

    <div>
        <p><b>Summary: </b> {{books.blurb}}</p>
    </div>

    



    <button onclick="goBack()">Go Back</button>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>



</body>

</html>