<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeClan Library Weekend Homework</title>
</head>
<header>
    <h1>{{title}}</h1>
</header>

<body>
    <aside class="grid-container1">
        <div>
            <form class="form-inline" action="/library" method="post">

                <label for="title">Book Title</label>
                <input type="text" name="title" id="tile">
        </div>
        <div>
            <label for="author">Author</label>
            <input type="text" name="author" id="author">
        </div>
        <div>
            <label for="genre">Genre</label>
            <input class="grid-item2" type="text" name="genre" id="genre">
        </div>
        <div>
            <label for="blurb">Summary</label>
            <textarea class="grid-item2" name="blurb" rows="2" cols="30"></textarea>
        </div>
        <div>
            <input type="submit" value="Add Book">
        </div>


    </aside>
    <div>
        <h2> Collection of Books</h2>

        <section class="grid-container2">
            {% for book in books%}
            <div id="book">
                <p>
                    <b>Title: </b>{{book.title}}<br>
                    <b>Author: </b>{{book.author}}<br>
                    <b>Genre: </b>{{book.genre}}<br>

                    {% if book.checked_out==False%}
                    <span><b>Status: </b>Available &#9745;</span>
                    {% endif %}
                    {% if book.checked_out==True%}
                    <span><b>Status: </b>Checked Out &#9746;</span>
                    {% endif %}
                    <br>
                    <a href="/library/{{loop.index}}">More Info</a><br>
                    
                </p>
                <div class="internal-buttons">
                    <form class="form-inline" action="/library/delete/{{ book.title }}" method="POST">
                        <input type="submit" value="Delete">
                    </form>
                    <br>
                </div>
                <div class="internal-buttons">
                    <!-- <form class="form-inline" action="/library/checkout/{{ book.title}}" method="POST">
                        {% if book.checked_out==False%}
                        <input type="submit" value="Check Out">
                        {% endif %}
                        {% if book.checked_out == True%}
                        <input type="submit" value="Check In">
                        {% endif %} -->
                </div>



            </div>

            {% endfor %}

        </section>
            
    </div>

</body>

<footer>
    <p>CodeClan Library Inc</p>
</footer>

</html>